{%- if created or updated -%}
<div class="time">
    {%- if created -%}
    <div class="created">
        <i class="fas fa-clock"></i> 创建时间: {{ created }}
        <i class="fas fa-clock"></i> 修改时间: {{ updated }}
    </div>
    {%- endif -%}
</div>
{%- endif -%}
