{%- if created or updated -%}
<div class="time">
    {%- if updated -%}
    <div class="updated">
        <i class="fas fa-clock"></i> 修改: {{ updated }}
    </div>
    {%- endif -%}
</div>
{%- endif -%}
